@import './variables.scss';

@mixin flex-row($gap: 0) {
  display: flex;
  gap: $gap;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin font-configuration($size: $font-size-regular, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.5;
}
