/* Colors */

$color-primary: #647c90;
$color-secondary: #746c70;
$color-text-heading: #e2ded0;
$color-border: #4e4f50;
$color-border-active: #647c90;
$color-background: #fafafa;

/* Size */

$size-small: 8px;
$size-medium: 16px;
$size-large: 32px;
$size-xlarge: 64px;

/* Font size */

$font-size-h1: $size-large;
$font-size-regular: 14px;

/* Font weight */

$font-weight-bold: 600;
