@use 'sass:color';
@import './styles/variables.scss';
@import './styles/mixins.scss';

.app {
  @include flex-column();
  justify-content: stretch;
  min-width: 300px;
  min-height: 100vh;
}

.appHeader {
  padding: $padding-primary;
  color: $color-text-heading;
  background-color: $color-primary-dark;
}

.appHeaderText {
  @include font-configuration($font-size-h1, $font-weight-bold);
  font-weight: $font-weight-bold;
}

.errorBoundary {
  @include flex-row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: $font-size-h1;
  color: $color-error;
}
